<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KP90RJZ4W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4KP90RJZ4W');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioProject.styles.css" asp-append-version="true" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!--Lets us use toastr API-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!--For Tab Icon-->
    <link rel="icon" href="~/images/Portfolio.png" type="image/x-icon" style="mix-blend-mode:darken" />

</head>
<body class="bg-light">
    <header class="px-5 pt-2">
        <!--My Info-->
        <div class="d-flex topHead">
            <div class="p-2">
                <a href="mailto:ythom87@gmail.com" class="text-decoration-none text-dark"><i class="bi bi-envelope-fill text-primary"></i> ythom87@gmail.com</a>
            </div>
            <div class="p-2">
                <p><i class="bi bi-telephone-fill text-primary"></i><a href="tel:9804998059" class="text-decoration-none"> +1(980) 499-8059</a></p>
            </div>
            <div class="p-2 ms-auto fs-5"> <!--ms auto aligns this to the very end-->
                <a href="https://github.com/hiro12a" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/thom-y/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 py-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Thom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")#home"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")#cert"> Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")#cert"> Certifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")#pshow"> Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")#me"> Contact Me</a>
                        </li>
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <!--Dropdown for Portfolio Management-->
                                <div class="dropdown">
                                    <!--Dropdown button-->
                                    <a class="dropdown-toggle nav-link text-dark" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Portfolio Management
                                    </a>
                                    <!--Dropdown items-->
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li class="dropdown-item">
                                            <a class="text-dark text-decoration-none" asp-controller="Skills" asp-action="Index">Skill/Certifications</a>
                                        </li>
                                        <li class="dropdown-item text-dark">
                                            <a class="text-dark text-decoration-none" asp-controller="Project" asp-action="Index">Projects</a>
                                        </li>
                                        <li class="dropdown-item text-dark">
                                            <a class="text-dark text-decoration-none" href="@Url.Action("Index","Others")">Others</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial"/>

                    <a href="@Url.Action("Index","Home")#me" class="btn btn-primary fs-5">Let&rsquo;s Talk <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <!--Lets us use toastr api-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
