@model IEnumerable<Projects>

<div class="container py-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col d-flex py-3">
                    <h1 class="">Projects</h1>
                    <a class="btn btn-primary ms-auto align-items-center d-flex fs-5" asp-controller="Project" asp-action="Upsert">Create Content<i class="bi bi-plus-circle ms-1"></i></a>
                </div>
            </div>
        </div>

        <!--Shows data-->
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Pictures</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.Description</td>

                            <!--For Image-->
                            <td style="width:15%">
                                <img src="@obj.ImageUrl" style="width:100%" />
                            </td>

                            <!--Edit and Delete-->
                            <td style="width:15%">
                                <a class="btn btn-primary" asp-controller="Project" asp-action="Upsert" asp-route-id="@obj.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="Project" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>